<div id="about" class="container py-8">
    <div class="rounded-full w-full h-48 shrink-0 grow-0 overflow-hidden flex items-center justify-center mb-8">
        <%= image_tag('mandy2.jpeg', alt: 'Mandy Le posing', class: 'object-none w-full h-full') %>
    </div>
    <div class="sm:max-w-4xl">
        <h1 class="text-4xl sm:text-6xl text-center whitespace-normal mb-12">About Me</h1>
        <p class="text-left font-extralight">Hey Everyone!</p>
        <p class="text-left font-extralight my-4">First off, thank you so much for visiting my page! It means the world to me as a creative. So let me introduce myself! My name is Mandy and I am a Toronto based freelance photographer.</p>
        <p class="text-left font-extralight">Since 2019, I've been using my hopeless romantic-ness to capture the world and its emotions through my lens. I love to travel and my dream is to visit Iceland, Norway and The Dolomites.</p>
        <p class="text-left font-extralight my-4">For me, photography is all about capturing moments that don't require words to give you a feeling.</p>
    </div>
</div>