<div id="about" class="container flex justify-between">
    <div id="left" class="w-96">
        <h1 class="text-6xl text-left">About Me</h1>
        <p class="text-left font-extralight mt-12">Hey Everyone! First off, thank you so much for visiting my page! It means the world to me as a creative. So let me introduce myself! My name is Mandy and I am a Toronto based freelance photographer.</p>
        <p class="text-left font-extralight my-4">Since 2019, I've been using my hopeless romantic-ness to capture the world and its emotions through my lens. I love to travel and my dream is to visit Iceland, Norway and The Dolomites.</p>
        <p class="text-left font-extralight">For me, photography is all about capturing moments that don't require words to give you a feeling.</p>
    </div>
    <div id="right">
        <%= image_tag('mandy2.jpeg', alt: 'Mandy Le posing', class: 'rounded-full w-96 h-96') %>
    </div>
</div>