@tailwind base;
@tailwind components;
@tailwind utilities;

 html {
  height: 100%;
  font-size: large;
}

.background-home {
  background-size: cover;
  background-image: url('mandy1.jpeg');
  background-position: center center;
}

.background-about {
  background-image: url('diagonal-lines.svg');
  background-repeat: repeat;
  background-color: rgb(30, 28, 28);
}